html{
	height:100%;
	body{
		height:100%;
		margin:0px;
		padding:0px;
		font-family: "Source Sans Pro";
		color: $fontcolor;
		font-size: 12pt;
		background-image: url("../img/bg.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
		.group:after {
		  content: "";
		  display: table;
		  clear: both;

		}
		.wrapper{
			width:75%;
			min-height:80%;
			margin-left: auto;
			margin-right: auto;
			padding-top:88px;
			.logo{
				width: 20%;
				height: 48px;
				background-image: url("../img/crisp_logo.png");
				background-repeat: no-repeat;
				background-size: contain;
				float:left;
			}//logo
			nav.main{
				width: 80%;
				float:right;
				ul{
					padding: 0;
					margin: 0;
					width: 100%;
					text-align: right;
					li{
						margin: 0;
						padding: 0;
						height: 48px;
						width: 100px;
						text-align: center;
						display: inline-block;
						a{
							line-height: 48px;
							color: $fontcolor;
							text-decoration: none;
							font-weight: 300;
							font-size: 12pt;
							&:hover, &.active{
								opacity: 0.72;
							}
						}
					}
				}
			}
			section.content{
				width: 75%;
				text-align: center;
				margin-left: auto;
				margin-right: auto;
				font-size: 2.2em;
				font-weight: 300;
				padding-top: 20%;
				.bold{
					font-weight: 700;
				}
			}//content
		
		}//wrapper
	}
}


/*
ehk lää-heb vaja
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
 */