//portfolio

section.portfolio{
	width: 100%;
	height: auto;
	padding-top: 60px;
	.el{
		float:left;
		width: 20%;
		height: 270px;
		border-top: solid 2px #fff;
		border-right: solid 2px #fff;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		opacity: 0.3;

	}

}