//portfolio

section.portfolio{
	width: 100%;
	height: auto;
	padding-top: 50px;
	.el{
		float:left;
		width: 20%;
		height: 270px;
		border-top: solid 2px rgba(255, 255,255, 0.3);
		border-right: solid 2px rgba(255, 255,255, 0.3);
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		
		&.fb{
			background-color: rgba(255, 255,255, 0.3);
			text-align: center;

			.face{
				width: 34px;
				background-image: url("../img/f.png");
				height: 34px;
				background-position: center center;
				background-repeat: no-repeat;
				background-size: contain;
				display: inline-block;
				margin-top: 160px;
			}

			.be{
				width: 34px;
				height: 34px;
				background-position: center center;
				background-repeat: no-repeat;
				background-size: contain;
				background-image: url("../img/be.png");
				display: inline-block;
				margin-top: 160px;
			}
	
		}
		&:hover{
			background-color: rgba(255, 255,255, 0.3);
		}

	}

}